<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <a>Home</a>
        <a>Contact</a>
        <a>Projects</a>
    </nav>
    {{content | safe}}
</body>
</html>