<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elaine Serrano | {{title}}</title>
    <link rel="stylesheet" href="/assets/css/global.css"/>
    <link rel="stylesheet" href="/assets/css/footer.css"/>
    {% for filePath in cssFiles %}
        <link rel="stylesheet" href={{filePath}}/>
    {% endfor %}
</head>
<body>
    <header>
        <nav class="main-nav">
            <ul>
                <li class="clickable"><a href="/">Home</a></li>
                <li class="clickable"><a href="/projects">Projects</a></li>
                <li class="clickable"><a href="/resume">Resume</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{content | safe}}
    </main>
    <footer id="contact" class='window shadow'>
        <div>
            <div class="footer">
                <ul class="social-media">
                    <li><a href="https://www.linkedin.com/in/elaine-serrano-echeverria/">Github</a></li>
                    <li><a href="https://github.com/elaine2700">LInkedIn</a></li>
                </ul>
                <ul class="page-info">
                    <li>&copy;2023 Elaine Serrano</li>
                    <li>Contact me at <span class="bold"><a href="mailto:contact@elaineserrano.com">contact@elaineserrano.com</a></span></li>
                    <li>Last Updated on October, 2023</li>
                    <li>Designed & coded from Scratch</li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>