:root{
    --blue:#90ACC6;
    --purple: #867190;
    --brightPink: #F573A1;
    --pastelPink: #EFA2C2;
    --salmon: #FFBACD;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}

button{
    align-items: center;
    font-family: 'Lato', sans-serif;
    appearance: none;
    text-transform: uppercase;
}

html {
    font-size: 16px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: var(--purple);
}

body{
    background: linear-gradient(180deg, var(--purple) 65%, var(--pastelPink) 100%);
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Fugaz One', cursive;
    color: var(--blue);
}

p{
    padding: 10px 0px;
}

/* HyperLink settings */
a {
    color: white;
    display: block;
    font-weight: bold;
}

a:visited{
    color:var(--blue);
}

a:hover{
    text-decoration: underline;
    background-color: var(--blue);
    border-radius: 0.25em;
}

a:active{
    color:var(--blue);
    text-decoration: var(--blue) underline;
}

div{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
}

/* text style */
.bold {
    color:black;
    font-size: 1.1em;
    font-weight: 700;
}

li.simple{
    list-style: none;
}


/* grid settings */

.grid {
    width: 100vw;
    height: 90vh;
    width: 100dvw;
    height: 90dvh;
    gap: 0.5em;
    margin: auto auto;
    display: grid;
    grid-template-columns: 5em 300px 1fr 5em;
    grid-template-rows: 5em 1fr 9em;
}

#personal {
    grid-column: 2;
    grid-row: 2;
    align-items: start;
    justify-content: center;
    display: flex;
}

#content-title{
    grid-column: 2/span2;
    grid-row: 1 / span 1;
}

#content-title > header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 1em;
    align-items:baseline;
}

#content { 
    grid-column: 3;
    grid-row: 2/span 2;
    overflow-y: scroll;
    
}

.title{
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 2rem;
    color: var(--blue);
}

.section-title{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--pastelPink);
}

#contact {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: end;
    justify-content: center;
    z-index: 2;
}

/* General Styling*/
.tall{
    min-height: 500px;
}

.vertical-align {
    position: relative;
}
.vertical-align-element {
    position: absolute;
    inset: 0;
    margin: auto;
    height: min-content;
}

.fit{
    width: 100%;
    padding: 30px;
}

.thumbnail-fitter{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.bordered{
    border: 2px solid var(--blue);
}

img.bordered{
    width: 100%;
    height: auto;
}

.window{
    /*border: 3px solid white;*/
    border-radius: 20px;
}

.shadow{
    box-shadow: 5px 5px 20px rgb(65, 62, 78);
}

.window.h-small {
    min-height: 80px;
}

.window-title{
    text-align: center;
}

.frame-title{
    border-bottom: 2px solid var(--blue);
    text-align: center;
}

.bg-main{
    background-color: var(--pastelPink);
}

.bg-secondary{
    background-color: var(--blue);
}

.card{
    box-shadow: 5px 5px 20px rgb(65, 62, 78);
}

.card:hover{
    box-shadow: 2px 2px 8px rgb(45, 42, 60);
}
  
/* Buttons */

.clickable{
    /*border: 2px solid var(--pastelPink);*/
    background-color: var(--pastelPink);
    text-align: center;
    padding: 10px;
    max-width: 100px;
    border-radius: 5px;
}
    li > .clickable{
        display: block;
        transition-duration: 0.5s;
    }

    .clickable:visited{
        color:var(--purple);
    }

    .clickable:hover {
        background-color: var(--blue);
        transition-duration: 0.7s;
    }

    .clickable:active {
        background-color: #A7727D;
        transition-duration: 0.5s;
    }
    
.clickable.current-selection {
    background-color: var(--brightPink);
    color:#EDDBC7;
}

.clickable.wide{
    max-width: 200px;
}

.clickable.outline{
    border: 2px solid var(--pastelPink);
    background-color: transparent;
    color: var(--pastelPink);
}
    .clickable.outline:hover{
        background-color: var(--blue);
        border-color: var(--blue);
        color: white;
    }

.three-columns{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    padding: 5px;
    font-size: 0.8em;
}

    .tag{
        background-color: var(--pastelPink);
        color: white;
        list-style: none;
        padding: 0.4rem;
    }

.centered {
    width: fit-content;
    margin: auto;
}

.button .centered{
    align-items: center;
}

.space{
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.even-columns{
    display: grid;
    grid-template-columns: 
        repeat( auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.hide{ 
    display: none;
}

/* Transition settings */
.transition-right{
    position: relative;
    transform: translateX(4rem) scale(0.74);
    transition: 0.5s;
}

.transition-normalState{
    position: relative;
    transform: translateX(0px) scale(0.74);
    transition: 0.5s;
}

.invisible{
    opacity: 0;
}

.visible{
    opacity: 1;
}

/* personal card */

#personal > div{
    display: block;
    width: 100%;
    padding: 5px;
}

.profile-card {
    display: block;
    overflow: hidden;
}

.profile-card .profile-image {
    overflow: hidden;
    height: 180px;
    position: relative;
    width: auto;
    max-width: 1080px;
}

    .profile-image img{
        width: auto;
        max-width: 200px;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .profile-image #VR-checkbox{
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        text-align: center;
    }

.profile-card .name{
    width: auto;
    padding: 10px;
    height: auto;
    border-top:1.5px solid var(--blue);
    overflow: hidden;
}

.name h1{
    font-weight: bold;
    font-size: 1.5rem;
    
}
    .name h1 a{
        color: var(--blue);
    }
    .name h1 a:visited{
        color:white;
    }    
    .name h1 a:hover{
        color:black;
    }
    .name h2{
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
    }

/* Nav Menu*/
.main-nav{
    font-size: 1.2rem;
    font-weight: 700;
}
.main-nav ul{
    list-style: none;
}
.main-nav .clickable{
    margin: 10px 0px;
    font-family: 'Fugaz One', cursive;
    max-width: none;
}

.toggle {
    display: none;
}

/* Contact section */
#contact div{
    border-radius: 20px;
    width: 100%;
    padding: 5px;
}

#contact ul{
    list-style: none;
}

.social-media li{
    font-size: 1rem;
    display: inline-block;
    padding-right: 0.2em;
}

.page-info{
    font-size: 0.8rem;
}

/* Projects large description */
.space-top{
    margin-top: 1rem;
}

.description {
    margin: 20px;
}
    .description h1{
        padding: 7px 0px;
    }
    .description h2{
        padding: 5px 0px;
        font-size: 1.4rem;
    }
    .description h3 {
        padding: 5px 0px;
        font-size: 1.2rem;
    }
    .description h4 {
        padding: 5px 0px;
        font-size: 1rem;
    }

    .description ul {
        margin-left: 50px;
    }

.presentation{
    text-align: center;
    min-width: 250px;
    min-height: 300px;
}
    .presentation h1{
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 1;
        color:var(--blue);
    }

    .presentation h2{
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        line-height: 1;
        margin: auto;
        max-width: 300px;
    }
    .presentation h3{
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        max-width: 300px;
        margin: auto;
    }

.padding-sides-medium{
    padding-left: 30px;
    padding-right: 30px;
}

.accent{
    background-color: var(--pastelPink);
    color:white;
    padding: 10px;
}

/* Filter Buttons */
.filter-btns{
    display: flex;
    margin-left: 1em;
    margin-top: 0.25em;
    margin-right: 1em;
}
    .filter-btns > *{
        margin-left: 0.5em;
        min-width: 50px;
    }

/* Video */
div.video{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
    .video iframe{
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 800px;
    }
    .video video{
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 800px;
    }

/* Toggle on - off */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
  
.switch {
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: var(--pastelPink);
    display: block;
    border-radius: 100px;
    position: relative;
}

/* The circle */
.switch:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--blue);
    border-radius: 90px;
    transition: 0.3s;
  }
  
input:checked + label.switch {
    background-color: var(--blue);
}
  
input:checked + label.switch:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color: var(--pastelPink);
}
  
label.switch:active:after {
    width: 30px;
}

/*Scrollbar settings*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--salmon);
}

/*Slider Stats*/

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 75px; /* Full-width */
    height: 30px; /* Specified height */
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    border: 2px solid var(--blue);
    border-radius: 15px;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--blue); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 12.5px;
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--blue); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

@media screen and (max-width: 900px) {

    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5.5rem 5rem 1fr 8.6rem;
        height: 100%;
        width: calc(100vw - 30px);
    }
    
    #personal{
        grid-column: 1/span 4;
        grid-row: 1;
        margin-top: 10px;
        display: block;
        justify-content: center;
    }
        #personal > div {
            max-width: none;
            height: 100%;
            display: flex;
            justify-content: space-between;
            min-width: auto;
        }

        .profile-card {
            height: 100%;
            display: flex;
            min-width: 250px;
            justify-content: space-evenly;
        }

        .main-nav{
            display: flex;
            justify-content: end;
            z-index: 3;
        }

        .main-nav ul{ 
            display: flex;
            gap:10px;
        }

        .main-nav ul > li {
            min-width: 100px;
        }
        
        .profile-card .profile-image {
            overflow: hidden;
            min-width: 80px;
            height: auto;
        }
            .profile-image img {
                width: auto;
                height: 100%;
                left: 10%;
                top: 5%;
            }

        .profile-card .name{
            border-left: 2px solid var(--blue);
            border-top: 0;
        }
            .profile-card h1 {
                font-size: 1rem;
            }
            .profile-card h2 {
                font-size: 0.8rem;
            }

        #VR-checkbox{
            display: none;
        }

    #content-title{
        grid-row: 2;
    }
        
    #content{
        grid-column: 1/span 4;
        grid-row: 3;
        height: auto;
        overflow: visible;
    }

    #contact{
        grid-column: 1/span 4;
        grid-row: 4;
    }
        #contact div{
            max-width: none;
        }
    
}

/* Mainly changes for the nav */
@media screen and (max-width: 690px){
    /* menu Hidden */
    .main-nav .toggle{
        display:block;
        min-width: auto;
        align-self: center;
        
    }
    .main-nav{
        align-items: center;
    }

    .main-nav > ul{
        height: fit-content;
    }

    .main-nav ul > li {
        display: none;
        margin: 0;
    }


    /* With toggle  interaction. 
    When user clicks the class changes its name*/
    .main-nav.display{
        display: block;
        width: calc(100% - 20px);
        height: auto;
        position:fixed;
        left: 10px;
        top: 10px;
        background-color: var(--pastelPink);
    }
    .main-nav .outline{
        border-color: var(--purple);
        color: var(--purple);
    }
    
        .main-nav.display .toggle{
            display:block;
        }

    .main-nav.display ul{ 
        display: block;
        margin: 20px 2rem;
    }

    .main-nav.display ul > li{
        display: block;
        min-width: 100px;
        margin: 10px 0px;
    }

    .three-columns, .even-columns{
        grid-template-columns: 1fr;
    }

    .vertical-align-element{
        width: min-content;
    }

}

@media screen and (max-width: 350px) {
    #about{
        padding: 10px;
    }

    .presentation{
        padding: 20px;
    }

    .section-title{
        padding-left: 0;
        padding-right: 0;
    }

    /*Hide Elaine and Title*/
    .name{
        display: none;
    }
    .profile-card{
        min-width: 70px;
    }
    
}
