.projectdetail__header{
    text-align: center;
    border-bottom: var(--color-border-primary) solid var(--border-width-default);
    padding: var(--spacing-s) var(--spacing);
}
.projectdetail__title{
    font-size: 1.5rem;
}

.projectdetail__description{
    padding-top: var(--spacing-xs);
}

.projectdetail__body{
    padding: var(--spacing);
}

.projectdetail__section{
    padding: var(--spacing-s) 0;
}

.projectdetail__video > .video{
    width: 100%;
}