/* FILTER BAR */
.projects__filterbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.filter-label {
    font-family: var(--font-family-headers);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.filter-group {
    display: flex;
    gap: 1rem;
}

.filter-btn {
    background: transparent;
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
    padding: 0.5rem 1.5rem;
    font-family: var(--font-family-default);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.2s ease;
    border-radius: 0;
}

.filter-btn:hover,
.filter-btn.active {
    background: var(--accent-blue);
    color: var(--beige-bg);
    border-color: var(--accent-blue);
}

.projects-divider {
    height: 1px;
    background-color: var(--accent-gray);
    width: 100%;
    margin-bottom: 3rem;
}

/* PROJECT GRID */
/* PROJECT GRID */
.projects__section {
    width: 100%;
}

.projects-grid {
    display: grid;
    /* TODO: Make this responsive  with auto-fit*/
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 100%;
}

.project-card {
    overflow: hidden;

}

.project-image {
    width: 100%;
    aspect-ratio: 16/9;
}

.thumbnail {
    width: 100%;
    height: auto;
}



.section_test {
    height: 100vh;
}

@media only screen and (max-width: 1024px) {
    .projects__filterbar {
        flex-wrap: wrap;
    }
}