.footer {
    font-size: 0.8rem;
    padding: var(--spacing);
    color: var(--color-text-tertiary);
    background-color: var(--color-surface-primary);
    bottom: var(--spacing-xxl);
    width: var(--sidemenu-width);
    margin-top: 2rem;
    border-top: 1px solid var(--accent-blue);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--color-text-tertiary);
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-right {
    text-align: right;
}

.footer a {
    color: var(--color-text-primary);
    text-decoration: underline;
}

.social-media li {
    display: inline-block;
    padding-right: 0.2em;
}

@media only screen and (max-width: 1024px) {
    .footer {
        position: static;
        width: 100%;
        margin-top: var(--spacing-l);
    }
}