.projects__page{
    padding-left: var(--spacing-xxl);
    padding-right: var(--spacing-xxl);
    padding-top: var(--spacing);
}
.projects__filterbar{
    display: flex;
    gap: var(--spacing-xs);
    padding: var(--spacing);
    position: sticky;
    top: 1rem;
    border-radius: var(--border-radius-small);
    background-color: var(--color-surface-primary);
}
.projects__section{
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
    display: grid;
    grid-template-columns: 
        repeat( auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-s);
}
.section_test{
    height: 100vh;
}

@media only screen and (max-width: 1024px) {
    .projects__filterbar{
        top: 7rem;
    }
}