* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color:#164F60;
    background-color:#A7727D;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fugaz One', cursive;
}

p{
    padding: 10px 0px;
}

/* HyperLink settings */
a {
    color:#164F60;
    text-decoration: none;
}

a:visited{
    color:rgb(61, 61, 61);
}

a:hover{
    color:#A7727D;
}

a:active{
    color:#EDDBC7;
    text-decoration: #F9F5E7 underline;
}

div{
    margin: 0;
}

body{
    min-height: 100%;
}

/* text style */
.bold {
    color:black;
    font-size: 1.1em;
    font-weight: 700;
}

/* grid settings */

.grid {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80% 1fr;
    grid-gap: 20px;
}

#personal {
    grid-column: 1 /span 4;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    display: flex;
}

#content { 
    grid-column: 5/span 8;
    grid-row: 1/span 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

#contact {
    grid-column: 1/span 4;
    grid-row: 2;
    margin-left: 20px;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: end;
    justify-content: center;
    padding-bottom: 20px;
}

/* General Styling*/
.window{
    border: 2px solid #164F60;
    box-shadow: 3px 5px #164F60;
    border-radius: 20px;
    background-color: #F9F5E7;
    overflow: hidden;
}
    .window > .window-title{
        border-bottom: 2px solid #164F60;
        text-align: center;
        padding: 0.25rem;
    }

    .medium{
        width: 300px;
        min-height: 150px;
        min-width: 200px;
        flex:50%;
    }

.clickable{
    border: 2px solid #164F60;
    background-color: #F9F5E7;
    text-align: center;
    padding: 10px;
}

.tag{
    background-color: #164F60;
    color: #F9F5E7;
    list-style: none;
    display: inline-block;
    padding: 0.4rem;
    margin: 2px;
}

/* personal card */
#personal > div{
    display: block;
    width: 100%;
    max-width: 300px;
}

.profile-card {
    display: block;
    overflow: hidden;
}

.profile-card .profile-image {
    overflow: hidden;
    height: 180px;
    position: relative;
    width: auto;
    max-width: 1080px;
}

    .profile-image img{
        width: auto;
        max-width: 200px;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: 10%;
        left: 10%;
    }

.profile-card .name{
    width: auto;
    padding: 10px;
    height: auto;
    border-top:1.5px solid #164F60;
    overflow: hidden;
}

.name h1{
    font-weight: bold;
    font-size: 1.5rem;
}
    .name h1 a{
        color:#F9F5E7
    }
    .name h1 a:visited{
        color:#F9F5E7;
    }    
    .name h1 a:hover{
        color:black;
    }
    .name h2{
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
    }

/* Nav Menu*/
.main-nav li{
    list-style: none;
    margin: 10px 0px;
    font-family: 'Fugaz One', cursive;
}

.toggle {
    display: none;
}

/* projects thumbnails */

.thumbnail {
    min-width: 300px;
    max-width: 500px;
    flex: 40%;
    margin: 10px;
    height: 200px;
    border-radius: 20px;
    border: 1.5px solid #A7727D;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 5px #A7727D;
}

.thumbnail div {
    border-bottom: inherit;
    height: 150px;
    overflow: hidden;
    
}
    .thumbnail div img{
        width: 100%;
        height: auto;
    }

.thumbnail h1 {
    padding: 10px;
    font-size: 1.1rem;
}

/* Contact section */
#contact div{
    border-radius: 20px;
    padding: 10px;
    border: 1.5px solid #EDDBC7;
    width: 100%;
    max-width: 300px;
}

#contact ul{
    list-style: none;
}

.social-media li{
    font-size: 1rem;
    display: inline-block;
    padding-right: 0.2em;
}

.page-info{
    font-size: 0.8rem;
}

/* content pages */
.description {
    width: 100%;
    margin: 20px;
    overflow: hidden;
}
    .description h1{
        padding: 7px 0px;
    }
    .description h2{
        padding: 5px 0px;
        font-size: 1.4rem;
    }
    .description h3 {
        padding: 5px 0px;
        font-size: 1.2rem;
    }
    .description h4 {
        padding: 5px 0px;
        font-size: 1rem;
    }
    .description header {
        border-bottom: inherit;
        background-color: #EDDBC7;
        padding: 20px;
    }
        .description section{
            padding: 20px;
        }

    .description ul {
        list-style: none;
        margin-left: 20px;
    }
    .description ul li::before{
        color: #A7727D;
        content: "\2022";
        display: inline-block;
        width: 1.2em;
        margin-left: -1em;
    }

.fit{
    width: 100%;
}

.columns{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.presentation{
    text-align: center;
    min-width: 400px;
    margin: 50px;
    padding: 50px;
}
    .presentation > h1{
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 1;
        color:#1F6D8C;
    }

    .presentation > h2{
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        line-height: 1;
        margin: auto;
        max-width: 300px;
    }
    .presentation > h3{
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        max-width: 300px;
        margin: auto;
    }

.accent{
    background-color: #164F60;
    color:#F9F5E7;
    padding: 10px;
}

/* Video */
div.video{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
    .video iframe{
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 800px;
    }
    .video video{
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 800px;
    }


@media screen and (max-width: 900px) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10% 4fr 1fr;
    }
    
    #personal{
        grid-column: 1/span 4;
        grid-row: 1;
        margin-top: 10px;
        margin-right: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
    }
        #personal > div {
            max-width: none;
            height: 100%;
            display: flex;
        }

        .profile-card {
            height: 100%;
            display: flex;
            min-width: 250px;
            justify-content: space-evenly;
        }

        .main-nav{
            width: 50%;
            display: flex;
            justify-content: end;
        }

        .main-nav ul{ 
            display: flex;
            justify-content: space-between;
        }

        .main-nav ul > li {
            min-width: 100px;
        }
        
        .profile-card .profile-image {
            overflow: hidden;
            min-width: 80px;
            height: auto;
        }
            .profile-image img {
                width: auto;
                height: 100%;
                left: 10%;
                top: 5%;
            }

        .profile-card .name{
            border-left: 2px solid;
            border-top: 0;
        }
            .profile-card h1 {
                font-size: 1rem;
            }
            .profile-card h2 {
                font-size: 0.8rem;
            }
        
    #content{
        grid-column: 1/span 4;
        grid-row: 2;
    }

    #contact{
        grid-column: 1/span 4;
        grid-row: 3;
        margin-right: 20px;
    }
        #contact div{
            max-width: none;
        }
    
}

/* Mainly changes for the nav */
@media screen and (max-width: 650px){


    /* menu Hidden */
    .main-nav{
        align-items: center;
    }

    .main-nav ul{
        height: fit-content;
    }

    .main-nav ul li {
        display: none;
        margin: 0;
        padding-left:20px;
        padding-right: 20px;
    }
    .main-nav .toggle{
        display:block;
        min-width: auto;
    }

    /* With toggle  interaction. 
    When user clicks the class changes its name*/
    .main-nav.display{
        display: block;
        width: 95%;
        height: auto;
        position: absolute;
        right: auto;
        top: 10px;
        background-color: #A7727D;
        border-radius: 10px;
        border: 1.5px solid #EDDBC7;
        box-shadow: 0px 10px;
    }
        .main-nav.display .toggle{
            display:block;
            border: 0;
            box-shadow: 0 0;
        }

    .main-nav.display ul{ 
        display: block;
        margin: 20px 2rem;
    }

    .main-nav.display ul > li{
        display: block;
        min-width: 100px;
        margin: 10px 0px;
    }
}
