:root{
    --blue:#90ACC6;
    --purple: #867190;
    --purple-dark: #3b3140;
    --purple-light: #caabd8;
    --brightPink: #F573A1;
    --pastelPink: #EFA2C2;
    --salmon: #FFBACD;
    --gray-dark: #1e1c21;
    --base-white: #ffffff;
    --base-black: #000000;

    /*BG*/
    --color-bg: var(--purple-dark);

    /*Text*/
    --color-text-primary: var(--base-white);
    --color-text-secondary: var(--purple);

    /*Links*/
    --color-link-default: var(--purple-light);
    --color-link-hover: var(--base-white);
    --color-link-active: var(--base-white);
    --color-link-visited: var(--purple-light);

    /*Border*/
    --color-border-primary: var(--purple);

    /*Colors*/
    --color-surface-primary: var(--purple-dark);
    --color-surface-secondary: var(--purple);
    --color-shadow: var(--gray-dark);

    /*Shadows*/
    --shadow-small: 5px 5px 20px var(--color-shadow);
    
}   