a{
    color: var(--color-link-default);
}
    a:active{
        color: var(--color-link-active);
    }
    a:visited{
        color: var(--color-link-visited);
    }
    a:hover{
        color: var(--color-link-hover);
    }

li{
  margin-left: var(--spacing-xxl);  
}

.hidden{
    display: none;
}