.tag-group{
    display: flex;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
}
.tag{
    background-color: var(--color-surface-secondary);
    color: var(--color-text-secondary);
    padding: var(--spacing-xxs) var(--spacing-s);
}