.tag-group{
    display: flex;
    gap: var(--spacing-xs);
    flex-wrap: wrap;
}
ul.tag-group{
    list-style: none;
}
.tag{
    --tag-color-bg: var(--color-surface-secondary);
    background-color: var(--tag-color-bg);
    color: var(--color-text-secondary);
    padding: var(--spacing-xxs) var(--spacing-s);
}
li.tag{
    margin: 0;
}

.tag.dark{
    --tag-color-bg: var(--color-surface-primary)
}