:root{
    /*Spacing*/
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing: 1rem;
    --spacing-l: 1.25rem;
    --spacing-xl: 1.5rem;
    --spacing-xxl: 2rem;
    /*Borders*/
    --border-radius-default: var(--spacing-xs);
    --border-width-light: 1px;
    --border-width-default: 2px;
    --border-widht-strong: 3px;

    /*Lateral Menu*/
    --sidemenu-width: 15rem;
}

