---
layout: base
title: "Home"
cssFiles: ["/assets/css/home.css"]
---
<header>
    <p>{{title}}</p>
</header>
<article>
    <header>
        <div>
            <p>Hello,</p>
            <p>
                I am Elaine.
                <br/>
                Developer &amp; Designer.
            </p>
            <p>I am passionate about creating immersive and interactive experiences.</p>
        </div>
    </header>
    <section>
        <h1>Skills</h1>
        <div>
            <h2>Skill Type 1</h2>
            <ul>
                <li>Skill 1</li>
                <li>Skill 2</li>
                <li>Skill 3</li>
            </ul>
        </div>
    </section>
    <section>
        <h1>Projects</h1>
        <div>
            <h2>Project Title</h2>
            <div>
                <img src="" alt="Project thumbnail"/>
                <ul class="tags">
                    <li class="tag">Tag 1</li>
                    <li class="tag">Tag 2</li>
                    <li class="tag">Tag 3</li>
                </ul>
                <div>
                    <a href="#">More</a>
                    <a href="#">Live</a>
                    <a href="#">Code</a>
                </div>
            </div>  
        </div>
        
        <div>
            <a href="#">See All Projects</a>
        </div>
    </section>
</article>
