---
layout: base
title: "Home"
cssFiles: ["/assets/css/home.css"]
---
<article class="card home__page">
    <header class="home_hero">
        <p class="home_hero_hello">Hello,</p>
        <div class="home_hero_description">
            <p class="home_hero_person">
                I am Elaine.
                <br/>
                Developer &amp; Designer.
            </p>
            <p>I am passionate about creating immersive and interactive experiences.</p>
        </div>
    </header>
    <section class="home__section">
        <h1 class="text-center">Skills</h1>
        <div class="flex-group">
            <div class="card bg-primary">
                <h2 class="card-title">Skill Type 1</h2>
                <ul class="card-content tag-group">
                    <li class="tag">Skill 1</li>
                    <li class="tag">Skill 2</li>
                    <li class="tag">Skill 3</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="home__section">
        <h1 class="text-center padding-top-xl">Projects</h1>
        <div class="flex-group">
            <div class="card bg-primary">
                <h2 class="card-title">Project Title</h2>
                <div class="card-content">
                    <img src="" alt="Project thumbnail"/>
                    <ul class="tag-group">
                        <li class="tag">Tag 1</li>
                        <li class="tag">Tag 2</li>
                        <li class="tag">Tag 3</li>
                    </ul>
                    <div class="flex-group gap-xs padding-top-s justify-content-center">
                        <a href="#" class="button secondary button-s">More</a>
                        <a href="#" class="button secondary button-s">Live</a>
                        <a href="#" class="button secondary button-s">Code</a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="padding-top-xl">
            <a class="button button-l margin-auto" href="#">See All Projects</a>
        </div>
    </section>
</article>
