---
layout: "layouts/base"
title: "Projects"
cssFiles: ["/assets/css/projects.css"]
jsFiles: ["/assets/js/projects.js"]
---
<header class="text-center">
    <h1>{{title}}</h1>
</header>
<article class="card projects__page">
    <div id="filterBar" class="projects__filterbar">
        <p>Filter</p>
        <button class="button secondary button-s">VR-AR</button>
        <button class="button secondary button-s">Web</button>
        <button class="button secondary button-s">Tool</button>
        <button class="button secondary button-s">All</button>
    </div>
    <section class="projects__section">
        {% for project in projects %}
        <div class="d-project card bg-primary">
            <h2 class="card-title">{{project.title}}</h2>
            <div class="card-content">
                <img class="fit" src={{project.image}} alt="Project thumbnail"/>
                <ul class="tag-group">
                    <li class="d-projectType tag">{{project.projectType}}</li>
                    {% for tool in project.tools %}
                    <li class="tag">{{tool}}</li>
                    {% endfor %}
                    {% for language in project.programmingLanguages %}
                    <li class="tag">{{language}}</li>
                    {% endfor %}
                </ul>
                <div class="flex-group gap-xs padding-top-s justify-content-center">
                    {% if project.content  %}
                    <a class="button secondary button-s" href="/projects/{{project.id}}">More</a>
                    {% endif %}
                    {% if project.live %}
                    <a class="button secondary button-s" href="{{project.live}}">Live</a>
                    {% endif %}
                    {% if project.linkCode %}
                    <a class="button secondary button-s" href="{{project.linkCode}}">Code</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        
    </section>
</article>