---
layout: "layouts/base"
title: "Projects"
cssFiles: ["/assets/css/projects.css", "/assets/css/project-detail.css"]
jsFiles: ["/assets/js/projects.js"]
---
{% set initialProjectId = null %}
{% include "components/projects-catalog.njk" %}