---
layout: "layouts/base"
title: "Project"
cssFiles: ["/assets/css/project-detail.css"]
pagination:
    data: projects
    size: 1
    alias: project
permalink: "projects/{{project.id}}/index.html"
---
<article class="project-detail__page">
    <header class="project-header">
        <h1 class="project-title-large">{{project.title}}</h1>
        <p class="project-subtitle">{{project.description}}</p>
        
        <div class="project-meta">
            <div class="meta-group tag-group">
                {% for tool in project.tools %}
                <span class="tag">{{tool}}</span>
                {% endfor %}
                {% for language in project.programmingLanguages %}
                <span class="tag">{{language}}</span>
                {% endfor %}
            </div>
            
            <div class="project-buttons">
                 {% if project.linkCode %}
                <a class="button action-btn" href="{{project.linkCode}}" target="_blank">CODE VIEW CODE</a>
                {% endif %}
            </div>
        </div>
    </header>

    {% if project.trailer %}
    <section class="project-media">
        <div class="video-container">
            <iframe class="video" width="100%" height="100%" src="https://www.youtube.com/embed/{{project.trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="media-caption">Project Demo Video</p>
    </section>
    {% endif %}

    <div class="project-content-grid">
        <div class="content-left">
            <section class="detail-section">
                <div class="detail-body">
                    {% if project.content %}
                        {% renderFile "./src/_includes/projects/" + project.content %}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</article>