---
layout: "layouts/base"
title: "Project Dossier"
cssFiles: ["/assets/css/projects.css", "/assets/css/project-detail.css"]
jsFiles: ["/assets/js/projects.js"]
pagination:
    data: projects
    size: 1
    alias: activeProject
permalink: "projects/{{activeProject.id}}/index.html"
---
{% set initialProjectId = activeProject.id %}
{% include "components/projects-catalog.njk" %}